INTERNAL_IP       = "172.17.0.3"
PROJECT           = "dev"
HOSTNAME          = "dev"
RAM               = "512"
APPLICATION_PATH  = "../app"

COMPOSER_TOKEN    = ""

PROVISION_TAGS    = "apt,webserver,common"

# Also you can list the tags separated by commas.
#
# Example:
# PROVISION_TAGS = "apt,python,common"
