[user]
    name = vsguts
    email = vsguts@gmail.com
[github]
    user = vsguts
    token = 055666e14e958b9574181ae733c4ad0b
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[diff]
    renamelimit = 0
[merge]
  summary = true
[alias]
    st = status -sb
    ci = commit
    br = branch
    b = branch -v
    r = remote -v
    t = tag -l
    co = checkout
    df = diff
    cp = cherry-pick -x
    ds = diff --staged
    lg = log --pretty=format:\"%h %Cblue%ar %Cgreen%an%Creset: %s %Cred%d\"
    ll = log -10 --pretty=format:\"%h %Cblue%ar %Cgreen%an%Creset: %s %Cred%d\"
    gr = log --graph --pretty=format:\"%Cred%h %Cblue%ar%Creset %Cgreen%an%Creset %s %Cred%d\"
    where = branch -av --contains
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

    amend = commit --amend -C HEAD
    undo = reset --soft HEAD^
    unstage = reset HEAD --
    uncommit = reset --soft HEAD^
    last = log -1 HEAD
    up = pull --rebase
    put = push origin HEAD
    latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
    ls = log  --decorate --date=short
    graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'

    rev = !sh -c 'git log --oneline | wc -l'
